<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'BasicTempServer' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>f9bda309-e6ee-4fda-9b69-9f81cb8616e4</InstrumentationKey>
</ApplicationInsights>